---
layout: default
---
<div id="post">
{% include post_header.html %}
{{ content }}
</div>

<div id="related">
  <h2>Random Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:5 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
<div id="comment"></div>
<script>
     var disq = new iDisqus('comment', {
        forum: 'liyichao',
        api: 'http://47.52.109.186:8081',
        site: 'http://liyichao.github.io',
        mode: 1,
        timeout: 3000,
        init: true
    });
</script>
{% comment %}{% include disqus.html %}{% endcomment %}
